
@font-face {
  font-family: 'HelveticaNeueLTArabic-Bold';
  src: url('HelveticaNeueLTArabic-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTArabic-Bold.woff') format('woff'), url('HelveticaNeueLTArabic-Bold.ttf')  format('truetype'), url('HelveticaNeueLTArabic-Bold.svg#HelveticaNeueLTArabic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
